 ------
 Introduction
 ------
 Brian Matthews
 ------
 2016-08-08
 ------

~~ Copyright 2013-2016 Brian Thomas Matthews
~~
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~     http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.


LDAPUnit

  <<LDAPUnit>> makes it easier to create unit tests for components that are dependent on an LDAP directory servers:

  * {{{./apidocs/com/btmatthews/ldapunit/DirectoryServerRule.html}DirectoryServerRule}} is used launch an embedded LDAP
    directory server so that the unit tests do not have to be dependent on an external LDAP directory server with
    unpredictable state.

  * {{{./apidocs/com/btmatthews/ldapunit/DirectoryServerRule.html}DirectoryTester}} is used to connect to an LDAP directory
    server (embedded or external) and make assertions about or verify the contents of the LDAP directory.

  []

  LDAPUnit relies on {{{https://www.unboundid.com/products/ldap-sdk/}UnboundID LDAP SDK}} to run the embedded LDAP
  directory server and as the API used to connect to LDAP directory servers.

  {{{./apidocs/com/btmatthews/ldapunit/DirectoryServerRule.html}DirectoryServerRule}} is based on the <<OpenDJRule>>
  implemented in the {{https://github.com/ehsavoie/embedded-ldap}} project.

* Examples

  To provide you with better understanding of some usages of the <<LDAPUnit>> you can take a look
  at the following examples:

  * {{{./examples/directory-server-rule.html}Using DirectoryServerRule}}
  
  * {{{./examples/directory-tester.html}Using DirectoryTester}}

* Maven Coordinates

  The <<LDAPUnit>> has been published in {{{http://search.maven.org}Maven Central}} at the following
  coordinates:

-------------------
<plugin>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
</plugin>
-------------------

* Licensing and Source Code

  The <<LDAPUnit>> is made available under the
  {{{http://www.apache.org/licenses/LICENSE-2.0.html}Apache License}} and the source code is hosted on
  {{{http://github.com}GitHub}} at {{https://github.com/bmatthews68/ldapunit}}.